img {
    height: auto;
    width: 200px;
    border-radius: 10px;
}

.logo {
    height: auto;
    width: 50px;
}

.mid-section img {
    border: #3882F6 solid 3px;
    background-color: #3882F6;
}

.logo-container {
    display: flex;
    gap: 15px;
}

.main-image {
    height: auto;
    width: 350px;
    border-radius: 10px;
}

body {
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
  }

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
    background-color: #1F2937;
    color: #e5e7eb;
    gap: 10%;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    background-color: #1F2937;
    color: #e5e7eb;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    text-align: center;
    width: 200px;
}

.card p {
    margin-top: 0;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 75px;
}

.quote-name {
    align-self: flex-end;
    margin-top: 0;
    font-weight: 700;
}

.quote-text {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    font-style: italic;
    font-weight: lighter;  
    margin-bottom: 0;
    font-size: 20px;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #1F2937;
    color: #f9faf8;
    height: 5%;
    font-size: 12px;
    font-weight: 100;
}

.top-content {
    width: 40%;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-top: 15px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding: 5px 20px;
}

.top-content button {
    border: #1F2937
}


.top-content h3 {
    font-size: 30px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

header p {
    font-size: 24px;
    color: #f9faf8;
}

.signup {
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    width: 700px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}


.signup-text {
    margin-top: -15px;
    font-size: 12px;
    font-weight: lighter;
}



.mid-section > p {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

